.bestsellers{
    &__title{
        color: $accent-color;
font-size: 28px;
font-weight: 400;
line-height: 42px;
text-transform: uppercase;
display: flex;
justify-content: center;
    }


    &__list{
        display: block;
        flex-wrap: wrap;
         @media screen and (min-width: 728px){
        display: flex;
    }
    }
    &__box{
    display: flex;
    flex-wrap: wrap;
            column-gap: 22px;
        row-gap: 30px;
    }

    &__item:nth-child(2){

    @media screen and (min-width: 1344px){
        width: 258px;
        height: 266px;

    }
    }
        &__item:nth-child(3){

    @media screen and (min-width: 1344px){
        width: 258px;
        height: 266px;

    }
    }
    &__items{
        display: none;
        @media screen and (min-width: 728px){
        display: block;
    }
    
    @media screen and (min-width: 1344px){
        width: 258px;
        height: 266px;

    }
    }


    &__images{
width: 343px;
height: 193px;
    @media screen and (min-width: 728px){
width: 704px;
height: 489px;

    }
    @media screen and (min-width: 1344px){
       width: 536px;
        height: 489px;

    }
    }   



    &__img{
    @media screen and (min-width: 728px){
       width: 336px;
    height: 193px;
    }
    @media screen and (min-width: 1344px){
       width: 258px;
        height: 193px;

    }
    }


    &__text{
        color: $accent-color;
font-size: 16px;
font-weight: 400;
line-height: 24px;
    }


    &__cost{
        color: $accent-color;
font-size: 16px;
font-weight: 700;
line-height: 24px;

    }


}