.hero{
padding-top: 64px;
padding-bottom: 132px;
padding-left: 60px;
padding-right: 60px;
width: 1320px;
height: 530px;
background: url(../img/hero/desktop/heroproduct1-desktop@1x.webp), url(../img/hero/desktop/heroproduct2-desktop@1x.webp),url(../img/hero/desktop/heroproduct3-desktop@1x.webp);
background-repeat: no-repeat, no-repeat, no-repeat;
background-size: 324px 337px, 600px 530px, 324px 337px;
background-position: left, center, right;


}



.hero-title{
width: 648px;
    color: var(--Blue-font, #0A224A);
font-family: "Playfair Display";
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 75px; /* 150% */
text-transform: uppercase;
}



.hero-text{
    width: 312px;
    color: var(--Blue-font, #0A224A);
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 150% */
}

.hero-button{
    display: flex;
    background: var(--Blue-font, #0A224A);
width: 224px;
height: 50px;
padding: 17px 65px;
justify-content: center;
align-items: center;
gap: 6px;
flex-shrink: 0;
color: var(--White, #FFF);
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 133.333% */
}