      <section class="about" id="about">
        <div class="container">
          <div class="about__bigbox">
            <div class="about__box">
              <p class="about__subtext">About us</p>
              <h2 class="about__title">
                Our craftsmanship: creating unique handmade furniture
              </h2>
              <p class="about__text">
                Discover the inspiration behind our modern and minimalist
                designs, and see how we bring them to life through our skilled
                craftsmanship.
              </p>
              <ul class="about__list">
                <li class="about__item">
                  <h3 class="about__subtitle">5+</h3>
                  <p class="about__desc">
                    Years of experience creating handcrafted furniture
                  </p>
                </li>
                <li class="about__item">
                  <h3 class="about__subtitle">100%</h3>
                  <p class="about__desc">
                    Sustainably sourced materials used in all of our furniture
                  </p>
                </li>
                <li class="about__item">
                  <h3 class="about__subtitle">500+</h3>
                  <p class="about__desc">
                    Unique furniture designs crafted by our skilled artisans
                  </p>
                </li>
              </ul>
            </div>
          <picture>
            <source srcset="./img/aboutus/desktop/aboutus-desktop@1x.webp 1x, ./img/aboutus/desktop/aboutus-desktop@2x.webp 2x" media="(min-width: 1344px)">
            <source srcset="./img/aboutus/tablet/aboutus-tablet@1x.webp 1x, ./img/aboutus/tablet/aboutus-tablet@2x.webp 2x" media="(min-width: 728px)">
            <source srcset="./img/aboutus/mobile/aboutus-mobile@1x.webp 1x, ./img/aboutus/mobile/aboutus-mobile@2x.webp 2x" media="(max-width: 727px)">
          <img src="../img/aboutus/desktop/aboutus-desktop@1x.webp" alt="coach" class="about__img">
          </picture>
          </div>
        </div>
      </section>