<section id="bestsellers" class="bestsellers container">
  <h2 class="bestsellers__title">Bestsellers</h2>
    <div class="bestsellers__wrapper">
  <div class="bestsellers__mainitem">
    <picture>
      <source
        srcset="
          ./img/bestsellers/desktop/bestsellersbed-desktop@1x.webp 1x,
          ./img/bestsellers/desktop/bestsellersbed-desktop@2x.webp 2x
        "
        media="(min-width:1344px)"
      />
      <source
        srcset="
          ./img/bestsellers/tablet/bestsellersbed-tablet@1x.webp 1x,
          ./img/bestsellers/tablet/bestsellersbed-tablet@2x.webp 2x
        "
        media="(min-width: 728px)"
      />
      <source
        srcset="
          ./img/bestsellers/mobile/bestsellersbed-mobile@1x.webp 1x,
          ./img/bestsellers/mobile/bestsellersbed-mobile@2x.webp 2x
        "
        media="(max-width: 727px)"
      />
      <img
        class="bestsellers__images"
        src="./img/bestsellers/desktop/bestsellersbed-desktop@1x.webp"
        alt="bed"
      />
    </picture>

    <h3 class="bestsellers__capmtion">The modern platform bed</h3>
    <p class="bestsellers__desk">750$</p>
  </div>
  <ul class="bestsellers__list">
    <li class="bestsellers__item">
      <picture>
        <source
          srcset="
            ./img/bestsellers/desktop/bestsellerscozychair-desktop@1x.webp 1x,
            ./img/bestsellers/desktop/bestsellerscozychair-desktop@2x.webp 2x
          "
          media="(min-width:1344px)"
        />
        <source
          srcset="
            ./img/bestsellers/tablet/bestsellerscozychair-tablet@1x.webp 1x,
            ./img/bestsellers/tablet/bestsellerscozychair-tablet@2x.webp 2x
          "
          media="(min-width: 728px)"
        />
        <source
          srcset="
            ./img/bestsellers/mobile/bestsellerscozychair-mobile@1x.webp 1x,
            ./img/bestsellers/mobile/bestsellerscozychair-mobile@2x.webp 2x
          "
          media="(max-width: 727px)"
        />
        <img
          src="./img/bestsellers/desktop/bestsellerscozychair-desktop@1x.webp"
          alt="chair"
          class="bestsellers__img"
        />
      </picture>

      <h3 class="bestsellers__text">The Cozy Lounge Chair</h3>
      <p class="bestsellers__cost">230$</p>
    </li>
    <li class="bestsellers__item">
      <picture>
        <source
          srcset="
            ./img/bestsellers/desktop/bestsellersindustrialchair-desktop@1x.webp 1x,
            ./img/bestsellers/desktop/bestsellersindustrialchair-desktop@2x.webp 2x
          "
          media="(min-width:1344px)"
        />
        <source
          srcset="
            ./img/bestsellers/tablet/bestsellersindustrialchair-tablet@1x.webp 1x,
            ./img/bestsellers/tablet/bestsellersindustrialchair-tablet@2x.webp 2x
          "
          media="(min-width: 728px)"
        />
        <source
          srcset="
            ./img/bestsellers/mobile/bestsellersindustrialchair-mobile@1x.webp 1x,
            ./img/bestsellers/mobile/bestsellersindustrialchair-mobile@2x.webp 2x
          "
          media="(max-width: 727px)"
        />
        <img
          src="./img/bestsellers/desktop/bestsellersindustrialchair-desktop@1x.webp"
          alt="accent chair"
          class="bestsellers__img"
        />
      </picture>

      <h3 class="bestsellers__text">The industrial accent chair</h3>
      <p class="bestsellers__cost">250$</p>
    </li>

    <li class="bestsellers__item">
      <picture>
        <source
          srcset="
            ./img/bestsellers/desktop/bestsellerssleekstand-desktop@1x.webp 1x,
            ./img/bestsellers/desktop/bestsellerssleekstand-desktop@2x.webp 2x
          "
          media="(min-width:1344px)"
        />
        <source
          src="./img/bestsellers/tablet/bestsellerssleekstand-tablet@1x.webp 1x, ./img/bestsellers/tablet/bestsellerssleekstand-tablet@2x.webp 2x"
          media="(min-width: 728px)"
        />
        <img
          class="bestsellers__img"
          src="./img/bestsellers/desktop/bestsellerssleekstand-desktop@1x.webp"
          alt="sleek stand"
        />
      </picture>

      <h3 class="bestsellers__text">The sleek stand</h3>
      <p class="bestsellers__cost">300$</p>
    </li>

    <li class="bestsellers__item">
      <picture>
        <source
          srcset="
            ./img/bestsellers/desktop/bestsellerssofa-desktop@1x.webp 1x,
            ./img/bestsellers/desktop/bestsellerssofa-desktop@2x.webp 2x
          "
          media="(min-width:1344px)"
        />
        <source
          srcset="
            ./img/bestsellers/tablet/bestsellerssofa-tablet@1x.webp 1x,
            ./img/bestsellers/tablet/bestsellerssofa-tablet@2x.webp 2x
          "
          media="(min-width: 728px)"
        />
        <img
          class="bestsellers__img"
          src="./img/bestsellers/desktop/bestsellerssofa-desktop@1x.webp"
          alt="sofa"
        />
      </picture>
      <h3 class="bestsellers__text">The minimalist sofa</h3>
      <p class="bestsellers__cost">650$</p>
    </li>
  </ul>
      </div>
</section>
