<section class="clients">
  <div class="container">
    <ul class="clients-list">
      <h1 class="clients-title">Clients reviews</h1>
      <li class="clients-item">
        <img class="clients-img" src="/img/clients/desktop/alexandra-desktop@1x.webp" alt="#" />
        <h2 class="clients-title">Alexandra dream</h2>
        <h5 class="clients-caption">1 week ago</h5>
        <p class="clients-text">
          I was blown away by the quality and craftsmanship of the furniture I
          received from this company. Each piece was unique and beautifully
          designed, and you can tell that a lot of thought and care goes into
          every detail.
        </p>
      </li>
      <li class="clients-item">
        <img class="clients-img" src="../img/clients/desktop/emily-desktop@2x.webp" alt="#" />
        <h2 class="clients-title">James Williams</h2>
        <h5 class="clients-caption">A week ago</h5>
        <p class="clients-text">
          The "Minimal" furniture set is a fantastic addition to my home. It
          boasts a minimalist design, enhancing the feel and look of my living
          space. The sturdy construction is worth noting too, which speaks
          volumes about its durability.
        </p>
      </li>
      <li class="clients-item">
        <img class="clients-img" src="img/clients/desktop/emily-desktop@1x.webp" alt="123" />
        <h2 class="clients-title">Emily Watson</h2>
        <h5 class="clients-caption">3 week ago</h5>
        <p class="clients-text">
          The "Minimal" furniture set has far exceeded my expectations. The
          sleek design combined with the high-quality materials have not only
          added an exceptional aesthetic to my space but also offered an
          uncompromising standard of comfort.
        </p>
      </li>
    </ul>
  </div>
</section>
