<footer id="footer" class="footer">
    <div class="container footer__box">
        <a class="footer__logo" href="../index.html">
            <svg class="footer__icon">
            <use href="./img/symbol-defs.svg#icon-footerlogo"></use>
            </svg>
        </a>
        <ul class="footer__programes">
            <li class="footer__item">
                <a class="footer__link" href="../index.html">
                    <svg class="footer__programephoto">
                        <use href="./img/symbol-defs.svg#icon-facebooklogo"></use>
                     </svg>
                 </a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="../index.html">
                    <svg class="footer__programephoto">
                        <use href="./img/symbol-defs.svg#icon-instagramlogo"></use>
                     </svg>
                 </a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="../index.html">
                    <svg class="footer__programephoto">
                        <use href="./img/symbol-defs.svg#icon-youtubelogo"></use>
                     </svg>
                 </a>
            </li>
        </ul>
        <ul class="footer__sections">
            <li class="footer__item"><a href="../index.html" class="footer__link">About us</a></li>
            <li class="footer__item"><a href="../index.html" class="footer__link">Our products</a></li>
            <li class="footer__item"><a href="../index.html" class="footer__link">Prices</a></li>
            <li class="footer__item"><a href="../index.html" class="footer__link">Bestsellers</a></li>
            <li class="footer__item"><a href="../index.html" class="footer__link">Reviews</a></li>
        </ul>
        <ul class="footer__informations">
            <li class="footer__item"><a href="../index.html" class="footer__link">Obolonsky Prospect, 14, Kyiv</a></li>
            <li class="footer__item"><a href="../index.html" class="footer__link">Daily 10:00-21:00</a></li>
        </ul>
        <ul class="footer__numbers">
            <li class="footer__items"><a href="" class="footer__link">+380669384758</a></li>
            <li class="footer__items"><a href="" class="footer__link">+380679384758</a></li>
            <li class="footer__items"><a href="" class="footer__link">minimal.furniture@gmail.com</a></li>
        </ul>
        <p class="footer__text">By using this website, you agree to the <span class="footer__span">Terms of Service</span> and <span class="footer__span">Privacy Policy</span></p>
    </div>
</footer>