
      <section>
        <div class="container">
          <h2>Newsletter</h2>
          <p>Every week we will send you new designs and information about sales.</p>
          <form>
            <label class="newsletter__libe">
              <input type="text" class="newsletter__input" placeholder="Name" required />
            </label>
            <label class="newsletter__libe">
              <input type="email" class="newsletter__input" placeholder="E-mail" required />
            </label>
            <label class="aboutus">
              <input type="checkbox" required />
              <span class="aboutus__checkbox">Agree to subscribe to the newsletter</span>
              <button type="submit" class="modal__button">Send</button>
            </label>
          </form>
          <img src="" alt="">
        </div>
      </section>