<section class="price">
    <div class="container">
        <ul class="price__list">
            <div class="price__box"></div>
            <li class="price__item">
                <h1 class="price__title">Chairs</h1>
                <p class="price__text"> from 200₴</p>
            </li>
            <div class="price__box"></div>
            <li class="price__item">
                <h1 class="price__title">Tables</h1>
                <p class="price__text">from 250₴</p>
            </li>
            <div class="price__box"></div>
            <li class="price__item">
                <h1 class="price__title">Dressers</h1>
                <p class="price__text">from 300₴</p>
            </li>
            <div class="price__box"></div>
            <li class="price__item">
                <h1 class="price__title">Sofas</h1>
                <p class="price__text">from 500₴</p>
            </li>
            <div class="price__box"></div>
        </ul>
    </div>
</section>